body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #070b12;
  color: #fff;
}

header {
  text-align: center;
  padding: 14px;
  font-weight: 900;
  letter-spacing: 2px;
  color: #33f0ff;
}

main {
  max-width: 420px;
  margin: auto;
  padding: 10px;
}
